.howToPlay {
    background-color: #1E2732;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 0.5em 0;
}

.text {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
}

.img {
    filter: invert(1);
    width: 16px
}